header .container,
#menu-menu-paginas {
	display: flex;
	height: 50px;
	align-items: center;
	flex-wrap: wrap;
	text-align:middle-center;
}

header {
	background-color: #555;
}

.menu li:not(:first-child) {
	margin-left: 3rem;
}

.menu a {
	text-decoration: none;
	font-size:20px;
	color: #FFF;
	letter-spacing: .05rem;
	font-weight: 300;
}

.menu li:hover a,
.menu .current-menu-item a {
	font-weight: 700;
}

header .container {
	justify-content: center;
	padding: .5rem 0;
}

