.home-main {
	background-color: rgba(25,25,25,0.4);
}

.cursos-listagem {
	display: inline-block;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 2rem;
}
.dados{
	background-color: rgba(25,25,25,0.4);
	color: aliceblue;
	border: 1px solid aliceblue;
	-webkit-transition: 0.9s;
	transition: 0.9s;
	width: 25%;
	font-size: 18px;
	text-align:center;
}
.dados:hover{
	background-color: rgba(40,40,40,0.75);
	color: snow;
}
.cursos-listagem-item {
	flex-basis: 30%;
	margin-bottom: 1.5rem;
}

.cursos-listagem-item:not( :nth-child(3n) ) {
	margin-right: 5%;
}

.cursos-listagem-item a {
	text-decoration: none;
}

.cursos-listagem-item img {
	width: 200px;
	height: 200px;
	margin: 16px;
}

.cursos-listagem-item h2 {
	font-weight: bold;
	margin: 16px;
	color: aliceblue;
	text-decoration: inherit;
}
.busca-localizacao-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	flex-basis: 100%;
}
