.single-curso {
	margin-bottom: 2rem;
}

.single-curso-thumbnail img {
	max-width: 100%;
    width: auto;
    height: auto;
    text-align: center;
	background-color: rgba(25,25,25,0.4);
}

.single-curso p {
	font-size: 1rem;
	line-height: 2;
}

.single-curso-data {
	display: block;
	font-size: 1.1rem;
	color: snow;
	margin-top: 1rem;
	font-style: italic;
}

.single-curso-geral {
	display: flex;
}

.single-curso-descricao {
	flex-basis: 80%;
}

.single-curso-informacoes {
	flex-basis: 20%;
	margin-left: 5%;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 1rem;
}

.single-curso-informacoes dt {
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: .8rem;
}

.single-curso-informacoes dt:not(:first-child) {
	margin-top: .8rem;
}
